@using OnlineLibrarySystem.Models
@model TabloKullanıcı
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div style="display:flex;flex-direction:column;
justify-content:center;align-items:center;">
    <h1>Sign In</h1>  
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @using (Html.BeginForm("SignIn", "User", FormMethod.Post, new { @style = "display:flex;flex-direction:column;justify-content:space-around;height:300px" }))
    {

        @Html.TextBoxFor(m => m.KullanıcıAdı)
        @Html.ValidationMessageFor(m => m.KullanıcıAdı)
        @Html.PasswordFor(m => m.Şifre)
        @Html.ValidationMessageFor(m => m.Şifre)
        <input type="submit" value="Giriş Yap" class="btn btn-danger" />
    }

</div>


