@using OnlineLibrarySystem.Models
@using OnlineLibrarySystem.Models.Classes
@model TabloKullanıcı
@{
    ViewBag.Title = "UserChangePassword";
    Layout = "~/Views/Shared/LoggedUserLayout.cshtml";
}

<h2>User Change Password</h2>

@using (Html.BeginForm("UserChangePassword", "User", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.KullanıcıAdı)
    @Html.HiddenFor(m => m.Şifre)
    @Html.PasswordFor(m => m.nullableOldPassword, new { @placeholder = "Enter your old password" })
    @Html.PasswordFor(m => m.nullableNewPassword, new { @placeholder = "Enter your new password" })
    <input type="submit" value="Change Password" class="btn btn-danger" />
}


